.flex-example {
    background-color: #370617;
    display: flex;
    position: relative;
    width: 1152px;
    height: 700px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
flex-direction: row;
}
.flex-container1 {
    align-items: flex-end;
    margin: 10px;
    padding: 20px;
    background: #F48C06;
    width: 468px;
    height: 160px;
    display: flex;
}
.flex-container1> div {
    margin-top: 63px;
    margin-left: 19px;
    background: #9D0208;
    padding: 20px;
    margin: 20px;
    width: 78px;
    height: 78px;
    align-items: baseline;
    display: flex;
}
.flex-container2 {
    margin: 10px;
    padding: 20px;
    background: #F48C06;
    width: 468px;
    height: 160px;
    align-items: center;
    display: flex;
}
.flex-container2> div {
    background: #9D0208;
    padding: 20px;
    margin: 20px;
    width: 78px;
    height: 120px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}
.flex-container3{
    margin: 10px;
    padding: 20px;
    background: #F48C06;
    width: 468px;
    height: 160px;
    align-items: center;
    display: flex;
}
.flex-container3> div {
    background: #9D0208;
    padding: 20px;
    margin: 20px;
    width: 78px;
    height: 78px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}
.flex-container4{
    justify-content: space-between;
    align-self: flex-end;
    margin: 10px;
    padding: 20px;
    background: #F48C06;
    width: 468px;
    height: 160px;
    display: flex;
}
.flex-container4> div {
    background: #9D0208;
    padding: 20px;
    margin: 20px;
    width: 78px;
    height: 78px;
    display: flex;
}
.flex-container5{
    margin: 10px;
    padding: 20px;
    background: #F48C06;
    width: 468px;
    height: 160px;
    align-items: center;
    display: flex;
}
.flex-container5> div {
    background: #9D0208;
    padding: 20px;
    margin: 20px;
    width: 78px;
    height: 78px;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}
.child{
    background: #9D0208;
    padding: 20px;
    margin: 10px;
    width: 78px;
    height: 120px;
    color: white;
    display: flex;
}
.flex-container6{
    margin: 10px;
    padding: 20px;
    background: #F48C06;
    width: 468px;
    height: 160px;
    align-items: center;
    display: flex;
}
.flex-container6> div {
    background: #9D0208;
    padding: 20px;
    margin: 20px;
    width: 78px;
    height: 78px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}