.flex-example{
position: relative;
display: flex;
width: 1152px;
height: 700px;
background: #FAA307;
flex-wrap: wrap;
align-items: center;
justify-content: center;
flex-direction: row;
}
.flex-container1{
width: 273px;
height: 220px;
margin: 10px;
padding: 20px;
background-color: #03071E;
display: flex;   
flex-wrap: wrap;
justify-content: left;
}
.flex-container1> div{
width: 50px;
height: 50px;
background-color: #748CAB;
display: flex;
padding: 2px;
margin: 10px;
border-radius: 50%;
}
.flex-container2{
flex-wrap: wrap;
width: 273px;
height: 220px;
margin: 10px;
padding: 20px;
background-color: #6A040F;
display: flex;   
justify-content: right; 
}
.flex-container2> div{
width: 50px;
height: 50px;
background-color: #748CAB;
display: flex;
padding: 2px;
margin: 10px;
border-radius: 50%;
}
.self-align{
align-self: flex-end;
}
.flex-container3{
    width: 273px;
    height: 220px;
    margin: 10px;
    padding: 20px;
    background-color: #03071E;
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-container3> div{
    width: 50px;
    height: 50px;
    background-color: #748CAB;
    display: flex;
    padding: 2px;
    margin: 10px;
    border-radius: 50%;
    }
.flex-container4{
    flex-wrap: wrap;
    width: 273px;
    height: 220px;
    margin: 10px;
    padding: 20px;
    background-color: #6A040F;
    display: flex;  
    flex-wrap: wrap; 
    justify-content: space-between;
    }
.flex-container4> div{
    width: 50px;
    height: 50px;
    background-color: #748CAB;
    display: flex;
    padding: 2px;
    margin: 10px;
    border-radius: 50%;
    }
    .flex-container5{
        width: 273px;
        height: 220px;
        margin: 10px;
        padding: 20px;
        background-color: #03071E;
        display: flex;   
        flex-wrap: wrap;
        justify-content: left;
    }
    .flex-container5> div{
        width: 50px;
        height: 50px;
        background-color: #748CAB;
        display: flex;
        padding: 2px;
        margin: 10px;
        border-radius: 50%;
        }